.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid;
}

.btn {
  background-color: black;
  color: white;
  padding: 10px 20px;
}
.decrementBtn {
  border: 2px solid red;
}

.incrementBtn {
  border: 2px solid green;
}

.text {
  font-size: 2rem;
  padding: 10px 20px;
}

.counterValue {
  font-weight: 500;
}
